.left{
	position: fixed;
	background-color: aquamarine;
	width: 50%;
	height: 100%;
	left: 0px;
	
}
a.button{
	display: inline-block;
	box-sizing: border-box;
	background-color: red;
	border-radius: 10px;
	font-family: sans-serif;
    text-align: center;
    color: white;
    padding-top: 10px;
	width: 100px;
	height: 40px;
	margin-left: 30%;
}
.right{
	position: fixed;
	background-color: aliceblue;
	width: 50%;
	height: 100%;
	right: 0px;
	
}
.rocket{
	position: absolute;
	bottom: 30px;
	left:50%;
	width: 30px;
	height: 150px;
	background-color: blue;
	transition: bottom 1s;
}
body.body-state3 .rocket {
	bottom: 1000px;
}
.state1{
	display: none;

}
.state2{
	display: none;
}
.state3{
	display: none;
	}
.state4{
	display: none;
}
.state5{
	display: none;
}


body.body-state1 .state1{display: block;}
body.body-state2 .state2{display: block;}
body.body-state3 .state3{display: block;}
body.body-state4 .state4{display: block;}
body.body-state5 .state5{display: block;}
 

.ground{
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	width: 100%;
	height: 30px;
	background-color: brown;
}
